{% set snmp = salt['grains.filter_by']({
    'Debian': {
        'packet': 'snmpd',
        'path': '/var/lib/snmp'
    },
    'RedHat': {
        'packet': 'net-snmp',
        'path': '/var/lib/net-snmp'
    },
    'OpenBSD': {
        'packet': 'snmpd',
        'path': '/var/lib/snmp'
    },
    'CentOS': {
        'packet': 'net-snmp',
        'path': '/var/lib/net-snmp'
    },
    'Ubuntu': {
        'packet': 'snmpd',
        'path': '/var/lib/snmp'
    },
}, merge=salt['grains.filter_by']({
    '*': {
        'user': salt['pillar.get']('server:settings:set_snmp:snmp_usr', 'rouser'),
        'sha': salt['pillar.get']('server:settings:set_snmp:snmp_sha', 'monkeylikebanana'), 
        'aes': salt['pillar.get']('server:settings:set_snmp:snmp_aes', 'monkeyhasbanana'),
        'snmp_ip': salt['pillar.get']('server:settings:set_snmp:snmp_ip', '0.0.0.0'),
        'monitor_ip': salt['pillar.get']('monitor:servers', {}),
    },
}, merge=salt['pillar.get']('snmp:lookup')))%}
