{% set snmp = salt['grains.filter_by']({
    'Debian': {
        'packet': 'snmpd',
        'path': '/var/lib/snmp'
    },
    'RedHat': {
        'packet': 'net-snmp',
        'path': '/var/lib/net-snmp'
    },
    'OpenBSD': {
        'packet': 'snmpd',
        'path': '/var/lib/snmp'
    },
    'CentOS': {
        'packet': 'net-snmp',
        'path': '/var/lib/net-snmp'
    },
    'Ubuntu': {
        'packet': 'snmpd',
        'path': '/var/lib/snmp'
    },
}, merge=salt['grains.filter_by']({
    '*': {
        'user': salt['pillar.get']('software:snmp:user', 'rouser'),
        'sha': salt['pillar.get']('software:snmp:sha', 'monkeylikebanana'), 
        'aes': salt['pillar.get']('software:snmp:aes', 'monkeyhasbanana'),
        'bind': salt['pillar.get']('software:snmp:bind', '0.0.0.0'),
        'monitor_ip': salt['pillar.get']('software:monitor:servers', {}),
    },
}, merge=salt['pillar.get']('snmp:lookup')))%}
