{% set osystem = salt['grains.filter_by']({
    'Debian': {
        'network': 'networking',
        'network_path': '/etc/network/interfaces',
        'mod_path': '/etc/modules',
        'network_manager': 'NetworkManager',
    },
    'RedHat': {
        'network': 'network',
        'network_manager': 'NetworkManager',
        'network_path': '/etc/sysconfig/network-scripts/ifcfg-',
        'mod_path': '/etc/modprobe.d/bonding.conf',
    },
    'OpenBSD': {
        'network': 'networking',
        'network_path': '/etc/network/',
        'mod_path': '/etc/modules',
        'network_manager': 'NetworkManager',
    },
    'CentOS': {
        'network': 'network',
        'network_manager': 'NetworkManager',
        'network_path': '/etc/sysconfig/network-scripts/ifcfg-',
        'mod_path': '/etc/modprobe.d/bonding.conf',
    },
    'Ubuntu': {
        'network': 'networking',
        'network_path': '/etc/network/interfaces',
        'mod_path': '/etc/modules',
        'network_manager': 'NetworkManager',
    },
}, merge=salt['pillar.get']('osystem:lookup'))%}

