{% set ntp = salt['grains.filter_by']({
    'Debian': {
        'packet': 'ntp',
        'service': 'ntp'
    },
    'RedHat': {
        'packet': 'ntp',
        'service': 'ntpd'
    },
    'CentOS': {
        'packet': 'ntp',
        'service': 'ntpd'
    },
    'Ubuntu': {
        'packet': 'ntp',
        'service': 'ntp'
    },
}, merge=salt['pillar.get']('ntp:lookup'))%}
