{% set os = salt['grains.filter_by']({
    'Debian': {
        'network': 'networking',
        'network_path': '/etc/network/interfaces',
        'mod_path': '/etc/modules',
        'network_manager': 'NetworkManager',
        'repo_key': 'https://repo.saltstack.com/apt/ubuntu/'+salt['grains.get']('osrelease')+
'/amd64/latest/SALTSTACK-GPG-KEY.pub',
        'repo_url': 'deb http://repo.saltstack.com/apt/'+salt['grains.get']('osrelease')+
'/amd64/latest '+salt['grains.get']('osrelease')+' main',
    },
    'RedHat': {
        'network': 'network',
        'network_manager': 'NetworkManager',
        'network_path': '/etc/sysconfig/network-scripts/ifcfg-',
        'mod_path': '/etc/modprobe.d/bonding.conf',
        'repo_key': 'https://repo.saltstack.com/yum/redhat/$releasever/$basearch/latest/SALTSTACK-GPG-KEY.pub',
        'repo_url': 'https://repo.saltstack.com/yum/redhat/$releasever/$basearch/latest',
    },
    'OpenBSD': {
        'network': 'networking',
        'network_path': '/etc/network/',
        'mod_path': '/etc/modules',
        'network_manager': 'NetworkManager',
    },
    'CentOS': {
        'network': 'network',
        'network_manager': 'NetworkManager',
        'network_path': '/etc/sysconfig/network-scripts/ifcfg-',
        'mod_path': '/etc/modprobe.d/bonding.conf',
        'repo_key': 'https://repo.saltstack.com/yum/redhat/$releasever/$basearch/latest/SALTSTACK-GPG-KEY.pub',
        'repo_url': 'https://repo.saltstack.com/yum/redhat/$releasever/$basearch/latest',
    },
    'Ubuntu': {
        'network': 'networking',
        'network_path': '/etc/network/interfaces',
        'mod_path': '/etc/modules',
        'network_manager': 'NetworkManager',
        'repo_key': 'https://repo.saltstack.com/apt/ubuntu/'+salt['grains.get']('osrelease')+
'/amd64/latest/SALTSTACK-GPG-KEY.pub',
        'repo_url': 'deb http://repo.saltstack.com/apt/'+salt['grains.get']('osrelease')+
'/amd64/latest '+salt['grains.get']('osrelease')+' main',
    },
}, merge=salt['pillar.get']('os:lookup'))%}
