# ############################################# #
# This file is managed by salt and any changes  #
# here will be overwritten.                     #
#                                               #
# If configuration changes are needed please    #
# contact system administrators.                #
# ############################################# #

# ################ #
# Network options. #
# ################ #

# Port 22
AddressFamily inet
ListenAddress {{salt['network.ip_addrs']()|first}}

# ############ #
# Key options. #
# ############ #

# HostKey /etc/ssh/ssh_host_rsa_key
# HostKey /etc/ssh/ssh_host_ecdsa_key
# HostKey /etc/ssh/ssh_host_ed25519_key

######################## #
# Ciphers and keying     #
# ###################### #

# RekeyLimit default none

# ######## #
# Logging. #
# ######## #

SyslogFacility		AUTH
LogLevel		INFO

# ############### #
# Authentication: #
# ############### #

PasswordAuthentication  yes
UsePAM                  yes
StrictModes		yes
PubkeyAuthentication	yes

PermitRootLogin         no
HostbasedAuthentication no
IgnoreUserKnownHosts    no
PermitEmptyPasswords    no
ChallengeResponseAuthentication no

LoginGraceTime          1m
MaxAuthTries            4

AuthorizedKeysFile      .ssh/authorized_keys

# ################# #
# General settings. #
# ################# #

AllowAgentForwarding	yes
AllowTcpForwarding	yes
X11UseLocalhost         yes
# PermitTTY               yes
PrintLastLog            yes
TCPKeepAlive            yes
UseDNS                  yes

GatewayPorts		no
X11Forwarding		no
PrintMotd		no
UseLogin		no

X11DisplayOffset        10
ClientAliveInterval	15
ClientAliveCountMax	3
MaxStartups		10:30:100

# UsePrivilegeSeparation  sandbox
Compression             delayed
PidFile                 /var/run/sshd.pid
AcceptEnv               LANG LC_*
Subsystem               sftp    /usr/lib/openssh/sftp-server

# ################ #
# Not set options. #
# ################ #

#MaxSessions            10
#AuthorizedPrincipalsFile       none
#AuthorizedKeysCommand  none
#AuthorizedKeysCommandUser      nobody
#IgnoreRhosts           yes
#PermitUserEnvironment	no
#PermitTunnel		no
#ChrootDirectory	none
#VersionAddendum	none

# no default banner path
#Banner none

# ################ #
# Kerberos options #
# ################ #
#KerberosAuthentication no
#KerberosOrLocalPasswd	yes
#KerberosTicketCleanup	yes
#KerberosGetAFSToken	no

# ############## #
# GSSAPI options #
# ############## #
#GSSAPIAuthentication	no
#GSSAPICleanupCredentials yes
#GSSAPIStrictAcceptorCheck yes
#GSSAPIKeyExchange	no
